settings:
  date_format: YYYY-MM-DD
  notify_on_days: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
  delay_color_after_days:
    yellow: 2
    orange: 4
    red: 7
  discord:
    token: <your discord token>
  users:
    - github_token: <user's github token>
      discord_id: "<user's discord ID>"
      repositories:
        - bob/test
      scheduled_notifications:
        - "*/10 * * * * *"
        - "* * 9 * * *"
